body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 20px;
    align-items: end;
}

.grid img {
    width: 100%;
}

.flex {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

header {
    background-color: greenyellow;
}

nav {
    display: inline-block;
    align-content: center;
    width: 80%;
    /* background-color: green; */
}

header img { 
    width: 10%;
    position: relative;
    top: 20px;
}

main {
    background-color: azure;
}

footer {
    background-color: lightcyan;
}

li {
    /* background-color: aqua; */
    display: inline;
    /* width: 50px; */
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: Blue;
}

p {
    line-height: 10px;
}