body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

img {
    box-sizing: border-box;
    padding: 2px 2px;
    border: black 1px solid;
    border-radius: 15px;
}

#skip-to-main:focus {
    background-color: aqua;
    color: red;
}

#main-content img {
    transition: height 2s ease-out 2s;
}

#main-content img:hover {
    position: fixed;
    top: 10%;
    height: 80%;
    width: auto;
}

.grid {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 8%;
    row-gap: 20px;
    align-items: end;
    margin: 0 7%;
}

.grid img {
    width: 100%;
}

.flex {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    row-gap: 10px;
}

header {
    background-color: greenyellow;
    color: violet;
    text-decoration: none;
}

header a {
    margin: 0 10px;
}

nav {
    display: inline-block;
    position: relative;
    /* transform: translateY(-40%); */
    align-content: center;
    width: 80%;
    /* background-color: green; */
}

header img { 
    margin-left: 4%;
    width: 10%;
    position: relative;
    top: 20px;
    height: 100px;
}

main {
    background-color: azure;
}

footer {
    background-color: lightcyan;
}

li {
    /* background-color: aqua; */
    display: inline;
    /* width: 50px; */
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: Blue;
}

p {
    line-height: 10px;
}