html{
    scroll-behavior: smooth;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.grid > figure {
    border: 1px black solid;
}

.grid > figure img {
    box-sizing: border-box;
}

@media screen and (min-width: 772px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .grid > figure:last-of-type {
        grid-column: span 2;
    }
    
    .grid > figure {
        border-radius: 100px;
    }
}

@media screen and (min-width: 992px) {

    .grid > figure:nth-of-type(3n) {
        grid-column: span 2;
    }
    
    .grid > figure {
        border-radius: 0px;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

@media screen and (prefers-color-scheme: dark) {
    .grid > figure {
        background-color: black;
        color: yellow;
        border-color: black;
    }
}

body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}

img{
    border: 5px solid blue;
    border-radius: 35px;
    width: 100%;
  }

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}